[Unit]
Description=Prometheus Node Exporter
After=network.target

[Service]
User={{ node_exporter_user }}
ExecStart={{ node_exporter_install_dir }}/node_exporter --web.listen-address=":{{ node_exporter_port }}"
Restart=always

[Install]
WantedBy=default.target
